Repository gfurtadoalmeida/study-assembly-x64: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, pipelines/azure-book-01.yml

azure-pipelines.yml:
  pool:
    name: default
    demands: AVX
  steps:
  - task: VSBuild@1
    name: Build
    inputs:
      solution: '**\*.sln'
      platform: x64
      msbuildArchitecture: x64
      configuration: release
  - task: VSTest@2
    name: Test
    inputs:
      testSelector: testAssemblies
      testAssemblyVer2: '**\*.Test.dll
  
  ...

pipelines/azure-book-01.yml:
  pool:
    name: default
    demands:
    - ISA.AVX-512 -equals True
  steps:
  - task: VSBuild@1
    name: Build
    inputs:
      solution: '**\*.sln'
      platform: x64
      msbuildArchitecture: x64
      configuration: release
  - task: VSTest@2
    name: Test
    inputs:
      testSelector: testAssemblies
  ...

Fix pipeline
  pipelines/azure-book-01.yml
Due: azure-pipelines.yml

fix some typos
  README.md
  notes.md
  pipelines/azure-book-01.yml
Due: azure-pipelines.yml

Fix line breaks
  notes.md
Due: none

Create LICENSE
  LICENSE
Due: azure-pipelines.yml

Updated readme
  README.md
Due: none

Renamed pipeline folder
  .pipeline/azure-book-01.yml
Due: azure-pipelines.yml

Update notes.md
  notes.md
Due: none

Updated toolset
  book-01/Assembly.Test/Assembly.Test.vcxproj
  book-01/Assembly/Assembly.vcxproj
Due: azure-pipelines.yml, pipelines/azure-book-01.yml

Added guard to conditionally build AVX512
  book-01/Assembly.Test/avx512_packed.cpp
  book-01/Assembly.Test/avx512_scalar.cpp
  book-01/Assembly.Test/core_cpuid.cpp
Due: azure-pipelines.yml, pipelines/azure-book-01.yml

Create build-book-01.yml
  .github/workflows/build-book-01.yml
Due: azure-pipelines.yml

Update build-book-01.yml
  .github/workflows/build-book-01.yml
Due: azure-pipelines.yml

Added test step
  .github/workflows/build-book-01.yml
Due: azure-pipelines.yml

Update README.md
  README.md
Due: none

Path conditions:
  azure-pipelines.yml: any file but: README.md, notes.md
  pipelines/azure-book-01.yml: any of: book-01
